<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "MainPage", "Home")</li>
                    <li>@Html.ActionLink("Help", "QandAs", "Home")</li>
                    <li>@Html.ActionLink("Rules & Conditions", "Rules", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "ContactInfo", "Home")</li>
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("Sign In", "LogIn", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Profile","UserProfile","Home")</li>
                        <li>@Html.ActionLink("Sign Out", "LogOut", "Home")</li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top: 15px;">
                @RenderBody()        
        <hr/>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

</body>
</html>
